* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #e0e0e0, #ffffff);
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffffff;
}

.loader-text {
    text-align: center;
}

.first-line {
    font-size: 3rem;
    color: #000;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.second-line {
    font-size: 1.5rem;
    color: #000;
    text-transform: capitalize;
    letter-spacing: 3px;
    margin-top: 10px;
}

.loading-percentage {
    font-size: 2.5rem;
    color: #000;
    margin-top: 20px;
}

/* Animation */
.hidden {
    opacity: 0;
    transform: translateY(50px);
}
