* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  overflow: hidden;
}

#nav {
  width: 100vw;
  height: 4.6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4vw;
  position: fixed;
  z-index: 9999;
  background: #fff;

  #nav-links {
    font-size: 1.4vw;
    a {
      text-decoration: none;
      color: black;
    }
  }

  #lets-talk {
    padding: 0.7vw 1.2vw;
    font-size: 1.4vw;
    border: 1px solid black;
    border-radius: 80px;
  }
}

#nav h2 {
  font-weight: 400;
  font-size: 1.4vw;
}

#page1 {
  margin-top: 10vw;
  min-height: 100vh;
  width: 100vw;

  .heading {
    width: 100%;
    height: 20vh;
    padding: 0 1vw;

    h1 {
      font-size: 9.4vw;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.3vw;
    }
  }
}

.heading:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: end;
}

#page2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  #video {
    width: 95%;
    height: 98%;
    overflow: hidden;
    border-radius: 30px;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#page3 {
  min-height: 100vh;
  width: 100vw;
  padding: 8vw 2vw;

  hr {
    border: none;
    height: 1px;
    background-color: #000;
  }

  h3 {
    font-size: 1.4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 1.1vw;
  }

  h1 {
    font-size: 3.7vw;
    font-weight: 400;
    margin-top: 5vw;
  }

  #branding-design {
    width: 100%;
    height: 24vw;
    /* background-color: pink; */
    margin-top: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5%;

    #branding {
      width: 49.5%;
      height: 100%;
      background-color: rgba(255, 0, 0, 0.904);
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .branding-top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 0;
        padding: 0 1.5vw;
        color: #fff;

        h1 {
          font-size: 4vw;
          margin-top: 2vw;
        }
      }

      #branding-bottom {
        color: #fff;
        font-size: 1.5vw;
        padding: 1.5vw;
      }

      .arrow {
        height: 5vw;
        width: 5vw;
        background-color: #fff;
        color: #000;
        border-radius: 50%;
        margin-top: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    #design {
      width: 49.5%;
      height: 100%;
      background-color: rgba(0, 0, 255, 0.909);
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .design-top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 0;
        padding: 0 1.5vw;
        color: #fff;

        h1 {
          font-size: 4vw;
          margin-top: 2vw;
        }
      }

      #design-bottom {
        color: #fff;
        font-size: 1.5vw;
        padding: 1.5vw;
      }

      .arrow {
        height: 5vw;
        width: 5vw;
        background-color: #fff;
        color: #000;
        border-radius: 50%;
        margin-top: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  #discover {
    width: 100%;
    height: 20vw;
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;

    #discover-left {
      width: 50%;
      height: 100%;
    }
    #discover-right {
      width: 50%;
      height: 100%;

      #text {
        margin-top: 5vw;
        margin-left: 1vw;
        width: 50%;
        font-size: 1.4vw;
        line-height: 1.2;
      }

      #discover-work {
        text-transform: uppercase;
        font-size: 1.5vw;
        text-decoration: underline;
        margin-top: 3vw;
        margin-left: 1vw;
        width: fit-content;
        height: 1.6vw;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        div {
          transition: all ease 0.3s;
        }
      }
    }
  }
}

#discover-work:hover div {
  cursor: pointer;
  transform: translate(0, -50%);
}

#page4 {
  width: 100vw;
  min-height: 100vh;
  padding: 0 2vw;

  hr {
    border: none;
    height: 1px;
    background-color: #000;
  }

  #page4-top {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.4vw;
    margin-top: 1vw;

    #arrow {
      display: flex;
      gap: 2vw;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      div {
        width: fit-content;
        height: 1.1vw;
        transition: all ease 0.3s;
      }
    }
  }

  #new {
    width: 100%;
    height: 9.5vw;
    margin-top: 2vw;
    display: flex;

    .new-in {
      width: 25%;
      height: 100%;
      border-radius: 10px;
      display: flex;

      .image {
        width: 13vw;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          background-position: center;
          object-fit: cover;
        }
      }

      .img-right {
        padding-left: 1vw;
        .head {
          width: fit-content;
          padding: 8px 14px;
          color: #fff;
          border: 1px solid #fff;
          border-radius: 20px;
          font-size: 0.9vw;
        }

        .text {
          font-size: 1.4vw;
          margin-top: 10px;
        }
      }
    }
  }

  .heading {
    width: 100%;
    height: 20vh;

    h1 {
      font-size: 9.4vw;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.3vw;
    }
  }
}

#page4-heading {
  margin-top: 10vw;
}

#page4-top #arrow #left:hover div {
  cursor: pointer;
  transform: translate(0, -150%);
}

#page4-top #arrow #right:hover div {
  cursor: pointer;
  transform: translate(0, -150%);
}

#page5 {
  min-height: 100vh;
  width: 100vw;
  padding: 2vw;

  #images {
    #row1 {
      width: 100%;
      height: 85vh;
      display: flex;
      justify-content: space-between;
      margin-top: 10vw;

      #left {
        height: 40vh;
        width: 30%;
        border-radius: 15px;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          background-position: top;
          object-fit: cover;
        }
      }

      #right {
        position: relative;
        height: 100%;
        width: 68%;
        border-radius: 18px;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          background-position: top;
          object-fit: cover;
        }
        #foster {
          position: absolute;
          width: 70%;
          height: 70%;
          background-color: green;
          z-index: 100;
          top: 15%;
          left: 15%;
          border-radius: 10px;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            background-position: top;
            object-fit: cover;
          }
        }
      }
    }
    #row2 {
      width: 100%;
      height: 85vh;
      display: flex;
      justify-content: space-between;
      margin-top: 10vw;

      #left {
        height: 100%;
        width: 65.5%;
        border-radius: 15px;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          background-position: top;
          object-fit: cover;
        }
      }

      #right {
        position: relative;
        height: 75%;
        width: 33%;
        border-radius: 18px;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          background-position: top;
          object-fit: cover;
        }
        #foster {
          position: absolute;
          width: 30%;
          height: 65%;
          background-color: green;
          z-index: 100;
          top: 17.5%;
          left: 35%;
          border-radius: 4px;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            background-position: top;
            object-fit: cover;
          }
        }
      }
    }
  }
}

#page6 {
  min-height: 100vh;
  width: 100vw;
  padding: 2vw;

  #page6-heading {
    margin-top: 10vw;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 9.4vw;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.3vw;
    }
  }

  #heading-bottom {
    width: 100%;
    margin-top: 10vw;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 3.5vw;
      font-weight: 500;
    }
  }

  #categories {
    width: 100%;
    margin-top: 6vw;
    display: flex;
    gap: 0.5vw;
  }

  hr {
    border: none;
    height: 1px;
    background-color: #000;
    margin-top: 1.5vw;
  }
}

.category {
  padding: 0.5vw 1vw;
  border-radius: 25px;
  font-size: 1.4vw;
  color: grey;
}

.category:nth-child(1) {
  border: 1px solid black;
  color: #000;
}

#page7 {
  width: 100vw;
  min-height: 100vh;
  margin-top: 1vw;
  padding: 0 2vw;

  h1 {
    font-size: 1.5vw;
    font-weight: 500;
    text-transform: uppercase;
  }
}

#page7-top {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 1.4vw;
  margin-top: 1vw;

  #arrow {
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    div {
      width: fit-content;
      height: 1.1vw;
      transition: all ease 0.3s;
    }
  }
}

#page7-top #arrow #left:hover div {
  cursor: pointer;
  transform: translate(0, -150%);
}

#page7-top #arrow #right:hover div {
  cursor: pointer;
  transform: translate(0, -150%);
}

#clients {
  width: 100%;
  height: 60vh;
  /* background-color: grey; */
  margin-top: 5vw;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  gap: 1vw;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

#clients .client {
  width: 25vw;
  height: 100%;
  /* background-color: pink; */
  flex-shrink: 0;
  border-radius: 20px;
}

#clients::-webkit-scrollbar {
  display: none;
}

.client {
  padding-left: 2vw;

  h2 {
    text-transform: uppercase;
    font-size: 1.4vw;
    font-weight: 500;
    margin-top: 4vw;
  }

  h3 {
    color: grey;
    font-weight: 500;
    font-size: 1.1vw;
    margin-top: 2.5vw;
  }

  p {
    font-size: 1.4vw;
    width: 93%;
    margin-top: 3vw;
  }
}

#page8 {
  width: 100vw;
  min-height: 100vh;
  margin-top: 1vw;
  padding: 0 2vw;

  #awards {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -8vw;
    h1 {
      font-weight: 400;
      font-size: 24vw;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }

  hr {
    border: none;
    height: 0.5px;
    background-color: #000;
    margin-top: 5vw;
  }
}

#awardss {
  width: 100%;
  height: 70vh;
  display: flex;
  #left {
    width: 100%;
    height: 100%;
    h2 {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1.4vw;
      margin-top: 0.3vw;
    }
  }
  #right {
    width: 100%;
    height: 100%;
    /* background-color: pink; */

    .award {
      width: 100%;
      border-bottom: 0.5px solid #000;
      font-size: 1.4vw;
      padding: 0.4vw;
    }
  }
}

#page8 {
  #more {
    width: 100%;
    height: 10vw;
    margin-top: -10vw;

    #about-us {
      text-transform: uppercase;
      font-size: 1.5vw;
      text-decoration: underline;
      margin-top: 3vw;
      margin-left: 1vw;
      width: fit-content;
      height: 1.6vw;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      div {
        transition: all ease 0.4s;
      }
    }
  }
}

#about-us:hover div {
  cursor: pointer;
  transform: translate(0, -50%);
}

#page9 {
  width: 100vw;
  height: 100vh;
  margin-top: 9vw;
  padding: 0 2vw;
  display: flex;
  gap: 2vw;
  #left {
    width: 50%;
    height: 100%;
    /* background-color: grey; */
    .left-inner {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 0.5px solid black;

      h1 {
        font-size: 6vw;
        font-weight: 500;
      }
      h3 {
        font-weight: 500;
        font-size: 1.5vw;
      }
    }
  }

  #right {
    width: 50%;
    height: 100%;
    /* background-color: #a1b679; */
    border-radius: 30px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      background-position: center;
    }
  }
}

#footer {
  width: 100vw;
  height: 120vh;
  background-color: #000;
  margin-top: 10vw;

  h1 {
    /* text-align: center; */
    color: #fff;
    margin-top: 8vw;
    font-size: 10vw;
    font-weight: 400;
    text-transform: uppercase;
    padding: 4vw 2vw;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  #content {
    width: 100%;
    height: 40vh;
    padding: 0 1vw;
    display: flex;

    #left {
      width: 38%;
      height: 100%;
      display: flex;
      gap: 2vw;
      color: #fff;

      #company,
      #services {
        width: 50%;
        padding: 0 1vw;
        display: flex;
        flex-direction: column;
        gap: 0.2vw;
        border-top: 1px solid #fff;

        h2 {
          font-size: 1.2vw;
          padding-bottom: 0.4vw;
          margin-top: 1vw;
        }

        h3 {
          font-size: 1.1vw;
          font-weight: 500;
        }
      }
    }

    #right {
      padding-right: 2vw;
      padding-left: 0.5vw;
      width: 62%;
      height: 100%;
      display: flex;
      gap: 1.5vw;
      /* background-color: pink; */

      #left,
      #right {
        width: 50%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        color: #000;

        #top {
          width: 110%;
          height: 20%;
          display: flex;
          justify-content: space-between;

          h2 {
            padding: 1vw;
            font-weight: 500;
            font-size: 2.5vw;
          }

          #arrow {
            height: 5vw;
            width: 5vw;
            background-color: #000;
            border-radius: 50%;
            margin-top: 0.5vw;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
              color: #fff;
              font-size: 3vw;
              position: relative;
              top: -4.3vw;
            }
          }
        }
      }

      #right {
        width: 48%;
      }
    }
  }
}

#footer {
  #bottom {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    margin-top: 4vw;

    .bottom-div {
      width: 16%;
      height: 100%;
      border-top: 0.4px solid #ffffffe8;
      color: #fff;

      h3 {
        margin-top: 1vw;
        font-size: 1.2vw;
        text-transform: uppercase;
        font-weight: 500;
      }
      h4 {
        font-weight: 400;
        color: rgb(153, 150, 150);
        margin-top: 0.5vw;
      }
      h5 {
        font-weight: 400;
        color: rgb(153, 150, 150);
        margin-top: 1vw;
        font-size: 1vw;
      }
    }

    #right {
      width: 30%;
      height: 100%;
      /* background-color: green; */
      border-top: 0.5px solid #fff;
      h4 {
        font-weight: 400;
        color: rgb(153, 150, 150);
        margin-top: 1vw;
        font-size: 1vw;
      }
    }
  }
}
