* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  overflow: hidden;
}

#nav {
  width: 100vw;
  height: 4.6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4vw;
  position: fixed;
  z-index: 9999;
  background: #fff;

  #nav-links {
    font-size: 1.4vw;
    a {
      text-decoration: none;
      color: black;
    }
  }

  #lets-talk {
    padding: 0.7vw 1.2vw;
    font-size: 1.4vw;
    border: 1px solid black;
    border-radius: 80px;
  }
}

#nav h2 {
  font-weight: 400;
  font-size: 1.4vw;
}

#page1 {
  margin-top: 10vw;
  min-height: 100vh;
  width: 100vw;

  .heading {
    width: 100%;
    height: 20vh;
    padding: 0 1vw;

    h1 {
      font-size: 9.4vw;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.3vw;
    }
  }
}

.heading:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: end;
}

#page2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  #video {
    width: 95%;
    height: 98%;
    overflow: hidden;
    border-radius: 30px;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
