@font-face {
  font-family: "Headline";
  src: url("./fonts/Rejouice-Headline.ttf");
}

@font-face {
  font-family: "NB Pro Book";
  src: url("./fonts/NBInternationalProBoo.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/pxiEyp8kv8JHgFVrJJfecnFHGPc.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html,
body {
  height: 100%;
  width: 100%;
}

#nav {
  width: 100%;
  padding: 1vw 3vw;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  /* transition: height 0.3s ease;
  overflow: hidden; */
}

#nav h2 {
  font-weight: 500;
  font-size: 1.3vw;
  color: #fff;
  transition: all 0.3s ease;
}

#nav h2:hover {
  cursor: pointer;
  text-decoration: underline;
}

#full-scr-nav {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 80vh;
  position: absolute;
  top: -100%;
  transition: all ease 0.9s;
  z-index: 999999;

  #rejouice {
    width: 100%;
    padding-top: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      font-weight: 400;
      font-size: 1.3vw;
    }

    h4:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

#rejouice h3 {
  font-family: "Headline";
  font-weight: 400;
  font-size: 1.6vw;
}

#nav-content {
  width: 100%;
  /* background-color: gray; */
  height: 65vh;
  padding-left: 3vw;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

#nav-content-left {
  width: 40%;
  height: 70%;
  /* background-color: rgba(145, 0, 0, 0.557); */
}

#nav-video {
  height: 80%;
  width: 80%;
  /* background-color: pink; */
  overflow: hidden;
}

#nav-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-bottom {
  height: 2.5vw;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    font-weight: 400;
  }
}

#nav-content-right {
  width: 45%;
  height: 100%;
  /* background-color: rgba(145, 0, 0, 0.557); */
  display: flex;
  flex-direction: column;
  gap: 1vw;

  a {
    color: black;
    text-decoration: none;
    font-size: 4vw;
    line-height: 1;
    width: fit-content;
    height: fit-content;
  }
}

#nav-contetn-right a:hover {
  text-decoration: underline;
}

#button-div {
  margin-top: 1vw;
}

#button-div button {
  padding: 1vw;
  font-size: 1.2vw;
  border: 1px solid black;
  background: transparent;
  border-radius: 100px;
}

#fullnav-bottom {
  width: calc(100% - 6vw);
  height: 5vw;
  margin-left: 3vw;
  /* background-color: gray; */
}

#bottom-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: #000;
    text-decoration: none;
    font-size: 1.2vw;
  }
}

#bottom-bottom-right {
  display: flex;
  gap: 1.2vw;

  a {
    color: #000;
    text-decoration: none;
    font-size: 1.2vw;
  }
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
}

#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

#main-content {
  width: 100%;
  height: 100%;
  background-color: #00000021;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;

  #cursor {
    background-color: rgba(0, 0, 0, 0.766);
    height: 7.4vw;
    width: 7.4vw;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffffd6;
    position: absolute;
    scale: 0;
    h5 {
      font-weight: 200;
      font-size: 1.2vw;
    }
  }

  h1 {
    color: #fff;
    font-family: "Headline";
    font-size: 25vw;
    font-weight: 400;
    z-index: 3;
  }
}

#main-content h1 span {
  font-family: "Headline";
  position: relative;
  bottom: -7vw;
}

#page2 {
  min-height: 100vh;
  width: 96%;
  background-color: rgb(255, 255, 255);
  margin-top: 1vw;
  margin-left: 2%;
}

#page2-top {
  padding-top: 3vw;
  padding-bottom: 2vw;
  width: 100%;
  height: 7vw;
  /* background-color:aquamarine; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;

  h2 {
    font-weight: 400;
    font-size: 1.4vw;
  }
}

#page2-content {
  padding-top: 3vw;
  padding-left: 1vw;
  width: 98%;
  h2 {
    font-weight: 500;
    font-size: 3.4vw;
  }
}

#page2-bottom {
  width: 100%;
  height: 35vw;
  margin-top: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    font-weight: 100;
    margin-bottom: 1vw;
  }

  span {
    background-color: #000;
    color: #fff;
    font-weight: 200;
    font-size: 1vw;
    padding: 0 0.3vw;
    border-radius: 9px;
  }

  h1 {
    font-weight: 500;
    font-size: 4vw;
    line-height: 4.4vw;
    text-decoration: underline;
    text-decoration-thickness: 3.5px;
    text-decoration-color: rgba(0, 0, 0, 0.899);
  }
}

#page3 {
  min-height: 100vh;
  width: 96%;
  background-color: rgb(255, 255, 255);
  margin-top: 1vw;
  margin-left: 2%;
}

#page3-top {
  margin-top: 4vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 1.4vw;
    font-weight: 400;
  }

  #arrow {
    display: inline-block;
    transform: scaleX(-1.5);
    font-size: 1.5vw;
  }
}

#page3-divs {
  width: 100%;
  height: 40vw;
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #img-div {
    height: 100%;
    width: 32.5%;
    overflow: hidden;
    position: relative;
  }
}

#img-div video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
  padding: 1px;
}

#img-div:hover video {
  opacity: 1;
  cursor: pointer;
}

#img-div:hover img {
  opacity: 0;
  cursor: pointer;
}

#page4 {
  min-height: 80vh;
  width: 96%;
  background-color: rgb(255, 255, 255);
  margin-top: 1vw;
  margin-left: 2%;
}

#page4-top {
  padding-top: 3vw;
  padding-bottom: 2vw;
  width: 100%;
  height: 9vw;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;

  h2 {
    font-weight: 400;
    font-size: 1.7vw;
  }
}

#page4-content {
  padding-top: 3vw;
  padding-left: 1vw;
  width: 98%;
  h2 {
    font-weight: 500;
    font-size: 3.6vw;
    line-height: 4.2vw;
  }
}

#page5 {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #000; */
  position: relative;
}

video {
  height: 60%;
  width: 60%;
  object-fit: cover;
}

#page5 #cursor2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000f0;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: #fff;
  position: absolute;
  z-index: 999;
  opacity: 0;

  h5 {
    font-weight: 500;
    font-size: 1vw;
  }
}

#page5 svg {
  position: absolute;
  height: 60%;
  width: 60%;
  margin-left: 2vw;
}

#seat-available {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;

  h1 {
    font-size: 4.5vw;
    font-weight: 500;
  }
  h3 {
    font-weight: 500;
    font-size: 2vw;
  }
}

#page6 {
  min-height: 85vh;
  width: 96%;
  background-color: rgb(255, 255, 255);
  margin-top: 1vw;
  margin-left: 2%;
}

#page6-top {
  padding-top: 3vw;
  padding-bottom: 2vw;
  width: 100%;
  height: 9vw;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;

  h2 {
    font-weight: 400;
    font-size: 1.7vw;
  }
}

#page6-content {
  padding-top: 3vw;
  padding-left: 1vw;
  width: 98%;
  h2 {
    font-weight: 500;
    font-size: 3.6vw;
    line-height: 4vw;
  }
}

#page7 {
  min-height: 100vh;
  width: 96%;
  background-color: rgb(255, 255, 255);
  margin-top: 1vw;
  margin-left: 2%;
}

#page7-top {
  display: flex;
  align-items: end;
  justify-content: space-between;
  height: 4vw;

  h1 {
    font-family: "Headline";
    font-size: 7vw;
    font-weight: 500;
  }

  a {
    font-size: 1.4vw;
    font-weight: 500;
    text-decoration: none;
    color: black;
  }
}

.swiper {
  width: 100%;
  height: 48vh;
  position: relative;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.swiper-slide img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}