@font-face {
  font-family: "Headline";
  src: url("./fonts/Rejouice-Headline.ttf");
}

@font-face {
  font-family: "NB Pro Book";
  src: url("./fonts/NBInternationalProBoo.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/pxiEyp8kv8JHgFVrJJfecnFHGPc.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
}

#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

#main-content {
  width: 100%;
  height: 100%;
  background-color: #00000021;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  #cursor {
    background-color: rgba(0, 0, 0, 0.766);
    height: 7.4vw;
    width: 7.4vw;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffffd6;
    position: absolute;
    scale: 0;
    h5 {
      font-weight: 200;
      font-size: 1.2vw;
    }
  }

  #nav {
    width: 100%;
    padding: 1vw 3vw;
    display: flex;
    justify-content: space-between;
    z-index: 3;

    a {
      font-size: 1.3vw;
      color: #fff;
      text-decoration: none;
    }
  }

  h1 {
    color: #fff;
    font-family: "Headline";
    font-size: 25vw;
    font-weight: 400;
    z-index: 3;
  }
}

#main-content h1 span {
  font-family: "Headline";
  position: relative;
  bottom: -7vw;
}

#page2 {
  min-height: 100vh;
  width: 96%;
  background-color: rgb(255, 255, 255);
  margin-top: 1vw;
  margin-left: 2%;
}

#page2-top {
  padding-top: 3vw;
  padding-bottom: 2vw;
  width: 100%;
  height: 7vw;
  /* background-color:aquamarine; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;

  h2 {
    font-weight: 400;
    font-size: 1.4vw;
  }
}

#page2-content {
  padding-top: 3vw;
  padding-left: 1vw;
  width: 98%;
  h2 {
    font-weight: 500;
    font-size: 3.4vw;
  }
}

#page2-bottom {
  width: 100%;
  height: 35vw;
  margin-top: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    font-weight: 100;
    margin-bottom: 1vw;
  }

  span {
    background-color: #000;
    color: #fff;
    font-weight: 200;
    font-size: 1vw;
    padding: 0 0.3vw;
    border-radius: 9px;
  }

  h1 {
    font-weight: 500;
    font-size: 4vw;
    line-height: 4.4vw;
    text-decoration: underline;
    text-decoration-thickness: 3.5px;
    text-decoration-color: rgba(0, 0, 0, 0.899);
  }
}

#page3 {
  min-height: 100vh;
  width: 96%;
  background-color: rgb(255, 255, 255);
  margin-top: 1vw;
  margin-left: 2%;
}

#page3-top {
  margin-top: 4vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 1.4vw;
    font-weight: 400;
  }

  #arrow {
    display: inline-block;
    transform: scaleX(-1.5);
    font-size: 1.5vw;
  }
}

#page3-divs {
  width: 100%;
  height: 40vw;
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #img-div {
    height: 100%;
    width: 32.5%;
    overflow: hidden;
    position: relative;
  }
}

#img-div video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
  padding: 1px;
}

#img-div:hover video {
  opacity: 1;
  cursor: pointer;
}

#img-div:hover img {
  opacity: 0;
  cursor: pointer;
}

#page4 {
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
}
