@font-face {
  font-family: "Tesla";
  src: url(./font/TESLA.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#main {
  height: 100vh;
  width: 100vw;
}

/* page1 */

#page1 {
  /* min-height: 100vh; */
  width: 100vw;
  background-color: rgba(77, 221, 216, 0.572);
  /* z-index: -2; */

  #nav {
    width: 100%;
    height: 4vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 5vw;

    #nav-left {
      font-size: 1.5vw;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 500;
      letter-spacing: -1px;
    }

    #nav-right a {
      margin-left: 5vw;
      text-decoration: none;
      color: black;
      font-size: 1.2vw;
      font-family: monospace;
    }
  }
}

/* scramble effect on hover */
.scramble {
  transition: color 0.3s ease;
}

.scramble:hover {
  color: rgba(1, 41, 57, 0.934); 
  cursor: pointer;
}

/* mouse enter digitize */
.digitizeh1 {
  z-index: 2;
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background-image: url("./images/photo-1698243282692-616402a5d535.avif");
  background-size: cover;
  background-position: center;
  display: none;
  pointer-events: none;
  /* opacity: 0.9; */
  z-index: 1;
  border-radius: 40%;
}

/* nav links hover effect */
.pseudo-text-effect {
  position: relative;
  padding: 0;
  overflow: hidden;
  transition: transform 0.4s;
  display: inline-block; /* Maintain original position */
}

.pseudo-text-effect::after {
  content: attr(data-after);
  transform: translateY(100%);
  position: absolute;
  left: 0;
  top: 0; /* Start from the top */
  width: 100%; /* Cover the entire width */
  transition: inherit;
  white-space: nowrap; /* Prevent wrapping */
}

.pseudo-text-effect > span {
  display: inline-block;
  transform: translateY(0%);
  transition: inherit;
}

.pseudo-text-effect:hover > span {
  transform: translateY(-100%);
}

.pseudo-text-effect:hover::after {
  transform: translateY(0%);
}
/* end------end */

#digitize {
  height: 25vw;
  width: 100vw;
  margin-top: 5vw;
  padding: 0 5vw;

  #digitize-one,
  #digitize-two {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 12.5vw;
    font-family: "Tesla";
    color: rgba(1, 41, 57, 0.934);
  }
}

#playandstars {
  width: 50%;
  height: 100%;
  position: relative;
}

#play {
  height: 5.5vw;
  width: 25vw;
  background-image: url("./images/pawel-czerwinski-XM1YUUVXj64-unsplash.jpg");
  background-size: cover;
  background-position: left;
  border-radius: 40px;
  position: absolute;
  top: 2vw;
  left: 4vw;
  display: flex;
  align-items: center;
  padding-left: 7px;

  #play-circle {
    height: 4.8vw;
    width: 4.8vw;
    border-radius: 50%;
    background-color: rgb(0, 105, 128);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 3.5vw;
      height: 3.5vw;
    }
  }
}

#stars {
  height: 10px;
  width: 250px;
  display: flex;
  position: absolute;
  top: calc(4vw + 80px);
  left: 8vw;
  align-items: center;
  justify-content: space-around;
}

#digitize-two p {
  font-size: 1.3vw;
  line-height: 2vw;
  font-family: monospace;
  letter-spacing: -1px;
  position: relative;
  left: -3vw;
  top: 4vw;
}

#digitize-below {
  height: 40px;
  width: 100%;
  padding: 0 4vw;
  display: flex;
  align-items: center;

  #agency {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    #best-agency,
    #class-agency {
      height: 100%;
      width: 48%;
      border: 2px solid black;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-family: monospace;
    }
  }

  #line {
    width: 50%;
    height: 1px;
    background-color: black;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 30px;
      position: relative;
      top: -9px;
    }
  }
}

/* #9dbbb2 */

/* here day 2 */
#digitilize-image {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  #image {
    height: 80vh;
    width: 85%;
    margin-top: 4vw;
    background-image: url("./images/pawel-czerwinski-XM1YUUVXj64-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 60px 60px 0 0;
  }
  #arrow {
    height: 10vw;
    width: 10vw;
    background-color: rgb(0, 105, 128);
    position: absolute;
    border-radius: 50%;
    left: 80%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#page2 {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(22, 21, 21);
}
#marquee {
  width: 100%; /* Full width */
  height: 9vw;
  background-color: black;
  color: rgb(0, 105, 128);
  overflow: hidden; /* Hide overflow */
  position: relative; /* Position relative for absolute child */
  display: flex; /* Use flexbox for alignment */
  align-items: center;
}

#marquee span {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
  font-size: 5vw;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-45%);
  }
}

#services {
  height: 20vh;
  width: 100%;
  padding: 0 4vw;
  margin-top: 4vw;
  display: flex;

  #services-left {
    width: 50%;
    height: 100%;

    h1 {
      font-size: 4.5vw;
      font-weight: 400;
      font-family: "Tesla";
      color: white;
    }

    p {
      font-size: 1.2vw;
      font-family: monospace;
      margin-top: 1vw;
      text-align: justify;
      color: rgba(255, 255, 255, 0.743);
      padding-right: 4.4vw;
    }
  }

  #services-right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 3vw;
    padding-left: 10vw;

    #design {
      height: 30px;
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.831);
      border: 1px solid white;
      border-radius: 20px;
      margin-right: 10px;
      margin-bottom: 15px;
    }
    #development {
      height: 30px;
      width: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.831);
      border: 1px solid white;
      border-radius: 20px;
      margin-right: 10px;
      margin-bottom: 15px;
    }
    #digital-marketing {
      height: 30px;
      width: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.831);
      border: 1px solid white;
      border-radius: 20px;
      margin-right: 10px;
      margin-bottom: 15px;
    }
    #seo {
      height: 30px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.831);
      border: 1px solid white;
      border-radius: 20px;
    }
  }
}

#designs {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vw;

  #design-contents {
    width: 90%;
    height: 100%;
    color: gray;

    .design-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgba(240, 248, 255, 0.606);
      padding-left: 1vw;
      padding-right: 2vw;
      transition: all 0.3s ease;

      h1 {
        font-size: 4vw;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        margin: 1vw;
        /* color: rgba(240, 248, 255, 0.606); */
      }
    }
  }
}

#design-contents hr {
  background-color: gray;
}

.design-div:hover {
  background-color: rgba(128, 128, 128, 0.397);

  img {
    background-color: rgb(19, 78, 123);
  }
}

.design-div:hover h1 {
  color: rgb(255, 255, 255);
}

.design-div:hover h1::after {
  content: ".";
  color: skyblue;
  margin-left: 2vw;
  font-family: "Tesla";
  font-size: 4vw;
}

/* page3 */

#page3 {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(22, 21, 21);
  display: flex;
  align-items: center;
  justify-content: center;
}

#page3-square {
  width: 82vw;
  height: 90%;
  background-color: rgba(62, 59, 59, 0.661);
  padding-top: 5.5vw;
  padding-bottom: 5.5vw;
  padding-right: 6.5vw;
  padding-left: 6.5vw;
  color: white;
  font-size: 4vw;

  .square-div {
    width: 100%;
    height: fit-content;
    font-size: 6vw;
    display: flex;
    text-transform: uppercase;
    text-align: justify;
    align-items: center;
  }
}

.square-div #one {
  width: 15vw;
  height: 3.5vw;
  background-image: url("./images/pawel-czerwinski-XM1YUUVXj64-unsplash.jpg");
  background-position: bottom;
  background-size: cover;
  align-items: end;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 30px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.square-div #one:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

.square-div #two {
  width: 10vw;
  height: 3.5vw;
  background-image: url("./images/pawel-czerwinski-XM1YUUVXj64-unsplash.jpg");
  background-position: center;
  background-size: cover;
  align-items: end;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 30px;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}
.square-div #two:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

.square-div #three {
  width: 7vw;
  height: 3.5vw;
  background-color: rgba(10, 159, 159, 0.834);
  align-items: end;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.square-div #three:hover {
  filter: grayscale(100%);
  cursor: pointer;
}

.square-div #four {
  width: 10.2vw;
  height: 3.5vw;
  background-image: url("./images/pawel-czerwinski-XM1YUUVXj64-unsplash.jpg");
  background-position: top;
  background-size: cover;
  align-items: end;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 30px;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.square-div #four:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

/* page4 */

#page4 {
  width: 100vw;
  min-height: 20vw;
  background-color: rgb(22, 21, 21);
  color: white;
}

#best-project {
  width: 100%;
  height: 20vw;
  /* background-color: rebeccapurple; */
  padding: 5vw;
}

#project-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 3vw; */
  h1 {
    font-family: "Tesla";
    font-size: 4.5vw;
  }
  p {
    font-size: 1.5vw;
    text-align: justify;
    font-family: monospace;
  }
}

#project-bottom {
  display: flex;
  height: 50%;
  width: 100%;
  margin-top: 3vw;
  margin-left: 2vw;
  gap: 2vw;

  #design {
    height: 30px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    color: rgba(255, 255, 255, 0.831);
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  #development {
    height: 30px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    color: rgba(255, 255, 255, 0.831);
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  #digital-marketing {
    height: 30px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    color: rgba(255, 255, 255, 0.831);
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  #seo {
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    color: rgba(255, 255, 255, 0.831);
    border: 1px solid white;
    border-radius: 20px;
  }
}

#page5 {
  width: 100%;
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(22, 21, 21);

  #top-images {
    width: 85%;
    /* background-color: gray; */
    height: 49%;
    display: flex;
    justify-content: space-between;

    #top-img1 {
      height: 100%;
      width: 33%;
      background-image: url("./images/pawel-czerwinski-XM1YUUVXj64-unsplash.jpg");
      background-size: cover;
      background-position: bottom;
      filter: grayscale(100%);
      transition: all 0.3s ease;
    }
    #top-img2 {
      height: 100%;
      width: 66%;
      background-image: url("./images/pawel-czerwinski-XM1YUUVXj64-unsplash.jpg");
      background-size: cover;
      background-position: bottom;
      filter: grayscale(100%);
      transition: all 0.3s ease;
    }
  }
  #bottom-images {
    width: 85%;
    /* background-color: rgba(83, 83, 73, 0.644); */
    height: 48.5%;
    display: flex;
    justify-content: space-between;

    #bottom-img1 {
      height: 100%;
      width: 32.5%;
      background-image: url("./images/pawel-czerwinski-XM1YUUVXj64-unsplash.jpg");
      background-size: cover;
      background-position: right;
      filter: grayscale(100%);
      transition: all 0.3s ease;
    }
    #bottom-img2 {
      height: 100%;
      width: 32.5%;
      background-image: url("./images/pawel-czerwinski-XM1YUUVXj64-unsplash.jpg");
      background-size: cover;
      background-position: right;
      filter: grayscale(100%);
      transition: all 0.3s ease;
    }
    #bottom-img3 {
      height: 100%;
      width: 32.5%;
      background-image: url("./images/pawel-czerwinski-XM1YUUVXj64-unsplash.jpg");
      background-size: cover;
      background-position: right;
      filter: grayscale(100%);
      transition: all 0.3s ease;
    }
  }
}

#page5 .img-hover:hover {
  cursor: pointer;
  border-radius: 0 0 80px 0;
  filter: grayscale(0);
}

#bottom-img3:hover {
  filter: grayscale(0);
}

#page6 {
  width: 100%;
  height: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(22, 21, 21);

  #discuss {
    width: 85%;
    height: 36vw;
    background-color: #018da9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 15% 15%;
  }
}

#discuss-ideas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-transform: uppercase;
    font-family: "Tesla";
    font-size: 4vw;
  }
}

#follow {
  margin-top: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
}

#talks-now {
  height: 22px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: #56bfd4;
  font-family: monospace;
  font-size: 18px;
}

#follow-us {
  height: 22px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  font-family: monospace;
  font-size: 18px;
  font-weight: 400;
}

#footer {
  height: 10vw;
  width: 100%;
  background-color: rgb(22, 21, 21);

  #das-grune {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #018da9;
    font-family: monospace;
    p {
      font-size: 4vw;
      font-weight: 200;
    }
  }

  #footer-bottom {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    color: #4bb1c6;
    padding: 1vw;
    h1 {
      font-size: 1vw;
    }
  }
}
