@font-face {
  font-family: "luminence";
  src: url("./BasisGrotesqueArabicPro-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
}

/* loader */


#loader {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #000000;

  /* #outer-div {
    height: 100vh;
    width: 100vh;
    background-image: url("./outer.svg");
    background-position: center;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    #inner-div {
      height: 70vh;
      width: 70vh;
      background-image: url("./innerr.svg");
      background-position: center;
      object-fit: cover;
    } 
  }*/
}

#largeCircle {
  position: relative;
  width: 40vw;
  height: 40vw;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateClockwise 55s linear infinite;
  overflow: hidden;

  .text {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .text span {
    position: absolute;
    left: 50%;
    font-size: 1.7vw;
    transform-origin: 0 20vw;
  }
}

#smallCircle {
  position: absolute;
  
  left: 38%;
  /* transform: translate(0%, -200%); */
  width: 24vw;
  height: 24vw;
  /* background-color: rgba(32, 109, 110, 0.687); */
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateAntiClockwise 50s linear infinite;

  .text2 {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .text2 span {
    position: absolute;
    left: 50%;
    font-size: 1.5vw;
    transform-origin: 0 12vw;
  }
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateAntiClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}


/* main */

#home {
  width: 100%;
  height: 100vh;
  padding: 0.1px;
  overflow: hidden;
  position: relative;
  z-index: 999999;
}

#play {
  scale: 0;
  width: 5vw;
  height: 5vw;
  background-color: #bdb8b878;
  position: absolute;
  z-index: 20;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.3s ease;
  cursor: pointer;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#nav {
  width: 100%;
  height: 10%;
  padding: 0 4vw;
  display: flex;
  align-items: end;
  justify-content: space-between;
  z-index: 1;
  color: white;
  position: relative;

  h1 {
    font-size: 1.8vw;
    letter-spacing: 0.6vw;
    line-height: 1;
    font-family: "luminence";
    font-weight: 500;
  }
}

#links {
  display: flex;
  gap: 1.3vw;
  h3 {
    font-size: 1.1vw;
    font-weight: 400;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    letter-spacing: 0.05vw;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
  }
}

#links h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 1px;
  background: #ffffff;
  transition: width 0.3s ease;
}

#links h3:hover::after {
  width: 100%;
}

#icons {
  display: flex;
  gap: 2vw;
}

#join-us {
  position: relative;
  border: 1px solid rgb(145, 134, 134);
  display: flex;
  align-items: center;
  font-size: 1.2vw;
  padding: 0.8vw 1.2vw;
  overflow: hidden;
  transition: color 0.3s ease;
  text-transform: uppercase;
  background-color: #ffffff22;
  /* margin-top: 2vw; */
}

#join-us:hover {
  color: white;
  cursor: pointer;
}

#join-us::before,
#join-us::after {
  content: "";
  position: absolute;
  background: white;
}

#join-us::before {
  height: 1px;
  width: 0;
  top: 0;
  left: 0;
  animation: none;
}

#join-us::after {
  width: 1px;
  height: 0;
  bottom: 0;
  right: 0;
  animation: none;
}

#join-us:hover::before {
  animation: snake-horizontal 1s linear forwards;
}

#join-us:hover::after {
  animation: snake-vertical 1s linear forwards;
}

@keyframes snake-horizontal {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 100%;
    left: 100%;
  }
}

@keyframes snake-vertical {
  0% {
    height: 0;
    bottom: 0;
  }
  50% {
    height: 100%;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 100%;
  }
}

#homeMarquee {
  width: 100vw;
  height: 25vh;
  position: relative;
  margin-top: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.marquee-content {
  display: flex;
  gap: 4vw;
  animation: scroll-marquee 65s linear infinite;
  list-style: none;
  padding: 0;
  margin: 0;

  white-space: nowrap;
}

.marquee-content li {
  font-size: 9.5vw;
  color: white;
  font-family: "luminence";
  font-weight: 400;
}

@keyframes scroll-marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-48%);
  }
}

#marquee-bottom {
  padding-top: 1vw;
  width: 92%;
  margin-left: 4%;
  height: 10%;
  position: relative;
  margin-top: 1vw;
  border-top: 1px solid white;
  display: flex;
  align-items: start;
  justify-content: space-between;
  div {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 1.2vw;
    transform: translate(20%, 0);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 400;
  }
  h3 {
    color: #fff;
    font-size: 1.3vw;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 400;
  }
}

/* page1  */

.page1 {
  width: 100%;
  height: 100vh;
  padding: 1px;
  background-color: #000;
  color: #fff;
}
#page1-text {
  width: 100%;
  height: 10vw;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: 10vw;
}
.page1 p {
  width: 25%;
  font-size: 1vw;
  font-weight: 500;
  line-height: 1vw;
  margin-left: 2vw;
  text-align: left;
  transform: scaleY(1.3);
}
.page1 h1 {
  width: 47%;
  font-size: 5vw;
  line-height: 5vw;
  text-align: left;
  font-weight: 700;
  letter-spacing: -0.2vw;
  transform: scaleY(1.4);
  padding-left: 5vw;
  font-family: "luminence";
}
.page1 h5 {
  width: 10%;
  /* display: none; */
  font-size: 1vw;
  font-weight: 200;
  text-transform: uppercase;
  color: rgba(128, 128, 128, 0.891);
  margin-top: 9vw;
  margin-left: 11vw;
}

.magnet {
  cursor: none;
}

#page1-bottom {
  width: 100%;
  height: 40vw;
  margin-top: 7vw;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  /* background-color: yellow; */
}
#page1-bottom::-webkit-scrollbar {
  display: none;
}
#box {
  width: 32%;
  height: 86%;
  flex-shrink: 0;
  margin-right: 8px;
  display: inline-block;
  margin-left: 1vw;
  position: relative;
  animation-name: anime;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.elem {
  height: 100%;
  width: 100%;
  /* background: #000; */
}
#box .elem h4 {
  color: #fff;
  font-size: 1.5vw;
  font-weight: 500;
  position: absolute;
  text-transform: uppercase;
  margin-top: 1.3vw;
  margin-left: 1vw;
}
#box .elem h3 {
  color: #fff;
  font-size: 1vw;
  font-weight: 500;
  position: absolute;
  text-transform: uppercase;
  margin-top: -3vw;
  margin-left: 1vw;
}
#box .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@keyframes anime {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(calc(-100% - 12px));
  }
}
.page2 {
  min-height: 80vh;
  width: 100%;
  background-color: black;
  color: #fff;
  padding: 1px;
  /* margin-top: 9vw; */
}
.page2 h2 {
  width: 60%;
  font-size: 3.2vw;
  margin-left: 2.5vw;
  padding-top: 5vw;
  font-weight: 400;
  line-height: 0.8;
  transform: scaleY(1.3);
  font-weight: 600;
  letter-spacing: -0.1vw;
  color: gray;
}

.page3 {
  height: 90vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1516035069371-29a1b244cc32?q=80&w=1638&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1px;
  display: flex;
  justify-content: center;
}

.page3 .container {
  height: 50%;
  width: 90%;
  margin-top: 5%;
  overflow: hidden;
  position: relative;
  background-color: #11101098;
  color: #fff;
}
.container .headline h2 {
  font-size: 2vw;
  font-weight: 400;
  position: absolute;
  margin-left: 2vw;
  margin-top: 2vw;
}
.container-content {
  width: 100%;
  height: 50%;
  position: absolute;
  margin-top: 7vw;
}
.search-bar {
  position: relative;
}
.search-bar h2 {
  margin-left: 2vw;
  font-size: 1.2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 0.7vw;
}
.search-bar input {
  width: 50%;
  height: 4vw;
  margin-left: 2vw;
  color: gray;
  background-color: rgba(128, 128, 128, 0.225);
  border: none;
  font-size: 1.2vw;
  padding: 1vw;
}
.search-bar-text {
  height: 2.3vw;
  display: flex;
  /* background-color: blue; */
  gap: 11.7vw;
  position: absolute;
  margin-left: 2vw;
  margin-top: 2vw;
}
.search-bar-text h3 {
  font-size: 1.2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.search-bar-bottom {
  width: 100%;
  height: 40%;
  margin-top: -1vw;
  margin-left: 1vw;
  display: flex;
  /* background-color:rgb(53, 134, 108); */
}
.search-bar-bottom input {
  height: 4vw;
  width: 23.5%;
  margin-left: 1vw;
  margin-top: 5vw;
  color: gray;
  background-color: rgba(128, 128, 128, 0.225);
  border: none;
  padding-left: 1vw;
  font-size: 1.2vw;
}
.search-bar-bottom input:nth-last-child(1) {
  width: 22%;
  /* color: #fff; */
  background-color: #000;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 600;
  transition: all 0.3s ease;
}
.search-bar-bottom input:nth-last-child(1):hover {
  background-color: rgb(17, 16, 16);
  cursor: pointer;
}
.page4 {
  width: 100%;
  min-height: 100vh;
}
.page4-top {
  width: 100%;
  height: 4vw;
  display: flex;
  justify-content: space-between;
}
.page4-top .elem {
  width: 20%;
  gap: 1vw;
  background-color: #ffffff;
  display: flex;
  border: 2px solid #000;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.elem h2 {
  font-size: 1.1vw;
  font-weight: 600;
  margin-right: 2vw;
  transform: scaleY(1.3);
  color: #000000;
}
.elem {
  transition: all 0.3s ease;
}
.elem:nth-child(1) {
  background-color: #000000;
  color: #fff;
}

.elem #nm {
  color: #ffffff;
}

.page4-top .elem:hover {
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.page4-top .elem:hover h2 {
  color: #fff;
}
.page4 h1 {
  /* font-family: "luminence"; */
  font-size: 3vw;
  font-weight: 600;
  padding: 5vw 0 1vw 3vw;
  color: #fff;
  transform: scaleY(1.5);
  letter-spacing: -0.1vw;
  line-height: 0.8;
  margin-bottom: 3vw;
}
.page4-bottom {
  width: 100%;
  height: 100vh;
  background-color: #000;
}
.page4-content {
  width: 22.6%;
  height: 60vh;
  margin-top: 2vw;
  margin-left: 1.8vw;

  display: inline-block;
  position: relative;
}
.page4-content .elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page4-content .elem h4 {
  font-size: 1.3vw;
  font-weight: 400;
  color: white;
  margin-top: 1vw;
  margin-left: 2vw;
  position: absolute;
}
.page4-content .elem h3 {
  font-size: 1.3vw;
  font-weight: 400;
  color: white;
  margin-top: -3vw;
  margin-left: 2vw;
}
.page4 button {
  width: 45%;
  height: 3.2vw;
  margin-top: 2vw;
  margin-left: 50%;
  color: #000000;
  border: none;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, 0%);
  font-weight: 600;
  transition: all 0.3s ease;
}

.page4 button:hover {
  cursor: pointer;
  background-color: rgb(219, 212, 212);
  /* font-size: 1.05vw; */
}
.page5 {
  height: 100vh;
  width: 100%;
  margin-top: 2vw;
  display: flex;
  color: #fff;
  margin-top: 15vw;
}
.page5-left {
  width: 34%;
  padding: 2.5vw;
  height: 88%;
}

.page5-left h1 {
  font-size: 3vw;
  line-height: 2.8vw;
  font-weight: 600;
  letter-spacing: -0.1vw;
  transform: scaleY(1.8);
  line-height: 0.7;
  margin-bottom: 3vw;
}
.page5-left p {
  width: 90%;
  font-size: 1vw;
  font-weight: 500;
  margin-top: 1vw;
  transform: scaleY(1.5);
  line-height: 0.9;
  margin-top: 5vw;
  margin-bottom: 2vw;
}
.page5-left button {
  font-weight: 600;
  padding: 1vw 2vw;
  background-color: rgb(255, 255, 255);
  color: #000;
  margin-top: 2vw;
  border-radius: 0.2vw;
  border: none;
  transition: all 0.3s ease;
}

.page5-left button:hover {
  cursor: pointer;
  background-color: #ffffffb3;
}
.page5-right {
  width: 64%;
  height: 100%;
  /* background-color: hotpink; */
}
.page5-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page6 {
  height: 105vh;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page6 p {
  width: 52%;
  font-size: 3vw;
  margin-left: 2.5vw;
  padding-top: 5vw;
  font-weight: 400;
  line-height: 0.8;
  transform: scaleY(1.3);
  font-weight: 600;
  letter-spacing: -0.1vw;
  color: gray;
}
.page7 {
  padding-top: 7vw;
  height: 130vh;
  width: 100%;
  color: #fff;
}
.page7-top {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    /* width: 50%; */
    position: relative;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
}
.page7-top h1 {
  font-size: 5.5vw;
  font-weight: 500;
  text-align: left;
  padding-top: 3vw;
  line-height: 0.8;
  transform: scaleY(1.6);
  font-weight: 600;
  letter-spacing: -0.1vw;
  margin-bottom: 5vw;
}
.page7-top button {
  padding: 0.9vw 1.4vw;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 0.9vw;
  font-weight: 600;
  border-radius: 0.1vw;
  border: none;
  position: relative;
  left: 40%;
  transition: all 0.3s ease;
}

.page7-top button:hover {
  background-color: #ffffff98;
  cursor: pointer;
  color: rgb(27, 37, 40);
}

.page7-bottom {
  width: 100%;
  height: 87%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}
.page7-bottom::-webkit-scrollbar {
  display: none;
}
.page7-content {
  width: 32%;
  height: 65%;
  flex-shrink: 0;
  margin-right: 8px;
  display: inline-block;
  margin-left: 1vw;
  position: relative;
  animation-name: anime;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* background-color: rgb(11, 11, 11); */
}
.page7-box {
  width: 100%;
  height: 100%;
}
.page7-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes anime {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(calc(-100% - 12px));
  }
}
.page7-box h4 {
  position: absolute;
  font-size: 1.2vw;
  margin-top: 1vw;
  margin-left: 1.5vw;
  color: white;
}
.page7-box h3 {
  font-size: 1.2vw;
  margin-top: -3vw;
  margin-left: 1.5vw;
  color: #fff;
}
.page8 {
  width: 100%;
  height: 155vh;
  padding-top: 11vw;
  display: flex;
  overflow: hidden;

  h2 {
    width: 36%;
    font-size: 5vw;
    font-weight: 600;
    letter-spacing: -0.2vw;
    transform: scaleY(1.7);
    line-height: 0.8;
    position: relative;
    top: 35%;
    padding-left: 2.5vw;
  }
}

#page8-right {
  width: 63%;
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video {
  width: 49.5%;
  margin-bottom: 10px;
  height: 49.5%;
  background-color: #f0f0f0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page9 {
  width: 100%;
  height: 100vh;
  margin-top: 15vw;
  display: flex;
  position: relative;
  margin-top: 18vw;
}
.page9-top {
  width: 100%;
  height: 10vw;
}
.page9 h1 {
  font-size: 5vw;
  font-weight: 500;
  margin-left: 2.5vw;
  transform: scaleY(1.6);
  letter-spacing: -0.2vw;
}
.page9-center {
  width: 100%;
  height: 90%;
  margin-top: 10vw;
  position: absolute;
  display: flex;
  gap: 1vw;
  /* background-color: aquamarine; */
}
.page9-right {
  width: 47%;
  height: 90%;
  /* background-color: firebrick; */
}
.page9-right h2 {
  font-size: 1.5vw;
  font-weight: 300;
}
.page9-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page9-left {
  width: 47%;
  height: 90%;
  /* background-color: rgb(75, 149, 138); */
  margin-left: 2.5vw;
}
.page9-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 20% 30%;
}
.page9-left h2 {
  font-size: 1.5vw;
  font-weight: 300;
}

#footer {
  width: 100%;
  min-height: 130vh;
  background-color: #b4b4b4;
  color: #000000;
  overflow-x: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 15vw;

  #f-one {
    width: 100%;
    height: 70vh;
    display: flex;

    #left,
    #right {
      width: 50%;
      height: 100%;
      /* background-color: palevioletred; */
      border: 1px solid rgb(43, 41, 41);
      padding: 4vw 2vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div {
        width: 100%;
        height: 40%;
      }

      h1 {
        font-size: 2.4vw;
        letter-spacing: -0.1vw;
        transform: scaleY(1.8);
      }

      h3 {
        font-size: 1.3vw;
        color: rgb(43, 41, 41);
        letter-spacing: -0.1vw;
        transform: scaleY(1.7);
        margin-top: 2vw;
      }

      p {
        font-weight: 400;
        font-size: 1.2vw;
        letter-spacing: -0.1vw;
        transform: scaleY(1.6);
        line-height: 1;
      }
    }
  }

  #f-two {
    width: 100%;
    height: 14vh;
    display: flex;

    #left,
    #right {
      width: 50%;
      height: 100%;
      padding: 1.6vw 2.3vw;
      border: 1px solid rgb(43, 41, 41);
      display: flex;
      justify-content: space-between;
      gap: 1vw;
    }

    #left div {
      width: 90%;
      height: 100%;
      background-color: #000000;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-size: 1.4vw;
      font-weight: 500;
      letter-spacing: -0.1vw;
      transition: all 0.3s ease;
      z-index: 999999;
    }
    #left div:hover {
      cursor: pointer;
      background-color: rgb(29, 28, 28);
    }

    #right input[type="email"] {
      border: 1px solid rgba(0, 0, 0, 0.893);
      color: black;
      background-color: transparent;
      height: 100%;
      width: 75%;
      border-radius: 5px;
    }

    #right input[type="email"]::placeholder {
      color: gray;
      font-size: 1.2vw;
      padding-left: 1vw;
    }

    #right button {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      font-size: 1.3vw;
      font-weight: 500;
      letter-spacing: -0.1vw;
      border: 1px solid gray;
      cursor: pointer;
      transition: all 0.3s ease;
      padding: 0 1.4vw;
      border-radius: 6px;
      z-index: 999999;
    }

    #right button:hover {
      background-color: rgba(21, 19, 19, 0.95);
    }
  }
}

#f-three {
  margin-top: 4vw;
  width: 100%;
  height: 20vh;
  padding: 3vw;
  display: flex;
  justify-content: space-between;

  div {
    h1 {
      font-size: 1.3vw;
      text-transform: uppercase;
      transform: scaleY(1.7);
      color: rgb(63, 61, 61);
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      letter-spacing: -0.1vw;
      margin-bottom: 2vw;
    }
    h2 {
      font-size: 1vw;
      transform: scaleY(1.7);
      color: rgb(0, 0, 0);
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 700;
      margin-bottom: 0.5vw;
      transition: all 0.3s ease;
    }

    h2:hover {
      cursor: pointer;
      color: rgb(71, 67, 67);
    }
  }
}

#f-four {
  width: 100%;
  height: 10vh;
  display: flex;
  padding: 2vw;
  top: 100%;
  margin-top: 20vw;
  align-items: end;
  justify-content: space-between;

  h1 {
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: -0.1vw;
    transform: scaleY(1.5);
  }
  h2 {
    font-size: 0.9vw;
    color: gray;
    letter-spacing: -0.1vw;
    transform: scaleY(1.4);
  }
}
