* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #000;
}

#home {
  width: 100vw;
  height: 100vh;
  /* background-color: #fff; */
  padding: 0.1px;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* z-index: -1;  */
}

#nav {
  width: 100%;
  height: 10%;
  padding: 0 4vw;
  display: flex;
  align-items: end;
  justify-content: space-between;
  z-index: 1;
  color: white;
  position: relative;

  h1 {
    font-size: 1.9vw;
    letter-spacing: 0.5vw;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 400;
  }
}

#links {
  display: flex;
  gap: 1.3vw;
  h3 {
    font-weight: 500;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    letter-spacing: 0.05vw;
  }
}

#icons {
  display: flex;
  gap: 2vw;

  #join-us {
    border: 1px solid rgb(145, 134, 134);
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    padding: 0.8vw 1vw;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
